<?xml version="1.0" ?>
<sdf version="1.8">
  <world name="default">

  <!-- plugins needed to allow gazebo to function properly -->
  <plugin
    filename="gz-sim-physics-system"
    name="gz::sim::systems::Physics">
  </plugin>
  <plugin
    filename="gz-sim-user-commands-system"
    name="gz::sim::systems::UserCommands">
  </plugin>
  <plugin
    filename="gz-sim-scene-broadcaster-system"
    name="gz::sim::systems::SceneBroadcaster">
  </plugin>
  <plugin
    filename="gz-sim-sensors-system"
    name="gz::sim::systems::Sensors">
    <render_engine>ogre2</render_engine>
  </plugin>
  <plugin
    filename="gz-sim-imu-system"
    name="gz::sim::systems::Imu">
  </plugin>
  <!-- <plugin
    filename="gz-sim-navsat-system"
    name="gz::sim::systems::NavSat">
  </plugin> -->
  <plugin
    filename="ignition-gazebo-navsat-system"
    name="ignition::gazebo::systems::NavSat">
  </plugin>


  <spherical_coordinates>
    <surface_model>EARTH_WGS84</surface_model>
    <world_frame_orientation>ENU</world_frame_orientation>
    <latitude_deg>40.4406</latitude_deg>
    <longitude_deg>-79.9959</longitude_deg> <!-- pittsburgh-->
    <elevation>0</elevation>
    <heading_deg>0</heading_deg>
  </spherical_coordinates>
    <!-- <plugin
      filename="libignition-gazebo-physics-system.so"
      name="ignition::gazebo::systems::Physics">
    </plugin>
    <plugin
      filename="libignition-gazebo-user-commands-system.so"
      name="ignition::gazebo::systems::UserCommands">
    </plugin>
    <plugin
      filename="libignition-gazebo-scene-broadcaster-system.so"
      name="ignition::gazebo::systems::SceneBroadcaster">
    </plugin>
    <plugin
        filename="libignition-gazebo-sensors-system.so"
        name="ignition::gazebo::systems::Sensors">
        <render_engine>ogre2</render_engine>
    </plugin> -->

    <!-- <plugin
      filename="ignition-gazebo-physics-system"
      name="ignition::gazebo::systems::Physics">
    </plugin>
    <plugin
      filename="ignition-gazebo-scene-broadcaster-system"
      name="ignition::gazebo::systems::SceneBroadcaster">
    </plugin>
    <plugin
      filename="ignition-gazebo-user-commands-system"
      name="ignition::gazebo::systems::UserCommands">
    </plugin>
    <plugin
      filename="ignition-gazebo-sensors-system"
      name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin> -->
    <!-- <plugin
      filename="libignition-gazebo-sensors-system.so"
      name="ignition::gazebo::systems::Sensors"> -->
      <!-- ogre2 not working with just the MESA_GL_VERSION_OVERRIDE=3.3 trick -->
      <!-- <render_engine>ogre2</render_engine>
    </plugin> -->


    <!-- <physics name="1ms" type="ignored">
      <max_step_size>0.001</max_step_size>
      <real_time_factor>1.0</real_time_factor>
    </physics> -->

    <!-- MOSTLY WORKING
    <plugin
      filename="ignition-gazebo-physics-system"
      name="gz::sim::systems::Physics">
    </plugin>
    <plugin
      filename="ignition-gazebo-sensors-system"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin
      filename="ignition-gazebo-user-commands-system"
      name="gz::sim::systems::UserCommands">
    </plugin>
    <plugin
      filename="ignition-gazebo-scene-broadcaster-system"
      name="gz::sim::systems::SceneBroadcaster">
    </plugin>
    END MOSTLY WORKING -->

<!-- 
    <plugin filename="MinimalScene" name="3D View">
      <ignition-gui>
        <title>3D View</title>
        <property type="bool" key="showTitleBar">false</property>
        <property type="string" key="state">docked</property>
      </ignition-gui>

      <engine>ogre2</engine>
      <scene>scene</scene>
      <ambient_light>0.4 0.4 0.4</ambient_light>
      <background_color>0.8 0.8 0.8</background_color>
      <camera_pose>-6 0 6 0 0.5 0</camera_pose>
    </plugin> -->

    <!-- A global light source -->
    <include>
      <uri>model://sun</uri>
    </include>

    <!-- A ground plane -->
    <!-- <include>
      <uri>model://ground_plane</uri>
    </include> -->

    <!-- <include>
      <uri>model://birch_tree</uri>
    </include> -->

    <!-- to get textures to show up, $GAZEBO_MODEL_PATH must be set in terminal.  can confirm with: echo $GAZEBO_MODEL_PATH
        example:
            export GAZEBO_MODEL_PATH=$GAZEBO_MODEL_PATH:~/.gazebo/models
          in ROS2:
            export GZ_SIM_RESOURCE_PATH=~/.gazebo/models
    -->

    <!-- to complile this .erb file to a .world/.sdf file, use terminal command:
            erb file_to_convert.sdf.erb > file_to_create.world
            ex:
              erb tree_rows.sdf.erb > test.world
          to test the generation of the world in gazebo sim from command line use:
            ign gazebo file_to_display.world
 -->

    <!-- representing line 7 in spreadsheet, red maple shade tree -->

    <include>
      <uri>model://driveway_plane</uri>
      <name>"dw1"</name>
      <!-- <pose> 0 5.65 0 0 0 0</pose> -->
      <pose> 0 12.15 0 0 0 0</pose>
    </include>
    
    <include>
      <name>"dw2"</name>
      <uri>model://driveway_plane</uri>
      <!-- <pose> 0 -5.65 0 0 0 0</pose> -->
      <pose> 0 -12.15 0 0 0 0</pose>
    </include>

    <include>
      <uri>model://nursery_ground</uri>
    </include>
<!-- 
    <model name="camera">
      <pose>4 0 1.0 0 0.0 3.14</pose>
      <link name="link">
        <pose>0.05 0.05 0.05 0 0 0</pose>
        <inertial>
          <mass>0.1</mass>
          <inertia>
            <ixx>0.000166667</ixx>
            <iyy>0.000166667</iyy>
            <izz>0.000166667</izz>
          </inertia>
        </inertial>
        <collision name="collision">
          <geometry>
            <box>
              <size>0.1 0.1 0.1</size>
            </box>
          </geometry>
        </collision>
        <visual name="visual">
          <geometry>
            <box>
              <size>0.1 0.1 0.1</size>
            </box>
          </geometry>
        </visual>
        <sensor name="camera" type="camera">
          <camera>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>320</width>
              <height>240</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>true</visualize>
          <topic>camera</topic>
        </sensor>
      </link>
    </model> -->

    <%
        #sets the pattern of trees.  the pattern is centered at (0,0)

        ##row 7
        #num_cols = 12 #along x, parallel to driveway
        #num_rows = 6 #along y
        
        #col_spacing = 1.15 #m
        #row_spacing = 1.55 #m

        ##row 17
        num_cols = 10 #along x, parallel to driveway
        num_rows = 8 #along y
        
        col_spacing = 1.81 #m
        row_spacing = 2.48 #m

        for c in (0...num_cols)
          for r in (0...num_rows)
            x = col_spacing*(c- (num_cols.to_f-1)/2)
            y = row_spacing*(r- (num_rows.to_f-1)/2)

            #every other row is offset by half the spacing
            if r % 2==0
              x = x + col_spacing/2
            end
    %>

        <include>
            <name>"tree_<%= r.to_s + "," + c.to_s %>"</name>
            <static>true</static>
            <!-- <uri>model://birch_tree</uri> -->
            <uri>model://maple_tree</uri>
            <pose> <%= x%> <%= y%> 0 0 0 0</pose>
        </include>

    <%    end
        end %>

  </world>
</sdf>