<?xml version="1.0" encoding="utf-8"?>
<robot name="amiga_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_footprint"/>

  <link name="base_link">
    <inertial>  <!-- Guess -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="75" />
      <inertia ixx="5.717" ixy="-0.007109" ixz="0.0013622" iyy="12.857" iyz="1.2354E-05" izz="11.799" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://leap_desc/meshes/Frame.stl" />
      </geometry>
      <material name=""><color rgba="0.118 0.506 0.729 1" /></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://leap_desc/meshes/Frame.stl"  />
      </geometry>
    </collision>
  </link>
  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.65" rpy="0 0 0"/>
  </joint>
  
  <link name="sensor_mount">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://leap_desc/meshes/SensorMount.stl" />
      </geometry>
      <material name=""><color rgba="0.118 0.506 0.729 1" /></material>
    </visual>
  </link>
  <joint name="sensor_mount_j" type="fixed">
    <origin xyz="-0.038587 0.0 0.340947" rpy="0 0 0" /> 
    <parent link="base_link" />
    <child link="sensor_mount" />
  </joint>

  <link name="ouster">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://leap_desc/meshes/Ouster.stl" />
      </geometry>
      <material name=""><color rgba="0.79216 0.81961 0.93333 1" /></material>
    </visual>
  </link>
  <joint name="ouster_j" type="fixed">
    <origin xyz="0.000233 0 0.108065" rpy="0 0 0" />
    <parent link="sensor_mount" />
    <child link="ouster" />
  </joint>

  <link name="reach">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://leap_desc/meshes/Reach.stl"  />
      </geometry>
      <material name=""><color rgba="0.79216 0.81961 0.93333 1" /></material>
    </visual>
  </link>
  <joint name="reach_j" type="fixed">
    <origin xyz="0.000233 0 0.148475" rpy="0 0 0" />
    <parent link="sensor_mount" />
    <child link="reach" />
  </joint>

  <link name="blackfly">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://leap_desc/meshes/Blackfly.stl" />
      </geometry>
      <material name=""><color rgba="0.75294 0.75294 0.75294 1" /></material>
    </visual>
  </link>
  <joint name="blackfly_j" type="fixed">
    <origin xyz="0.033516 0 0.012340" rpy="0 0 0" />
    <parent link="sensor_mount" />
    <child link="blackfly" />
  </joint>

  <link name="blackfly_optical" />
  <joint name="blackfly_optical_j" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
    <parent link="blackfly" />
    <child link="blackfly_optical" />
  </joint>

</robot>